body {
  font-size: 10px;
  font-family:Arial, Helvetica, sans-serif
}

div {
  border: 1px solid black;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-top: 0;

  span {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: white;
    display: inline-block;
  }
}